* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 40px;
    max-width: 1200px;
}

.card {
    max-width: 500px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
}

.card__one {
    border: 2px solid brown;
    background-color: brown;
}

.card__two {
    border: 2px solid yellow;
    background-color: yellow;
}

.card__three {
    border: 2px solid green;
    background-color: green;
}

.card__bottom {
    padding: 20px;
}

.card__text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    font-size: 20px;
    text-align: center;
}

.card__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.one, .two, .three {
    position: relative;
    height: 0;
    padding-bottom: 50%;
}

.card__img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}